h1, h2, h3, h4, html, body, p, a, ul, li, figure, div {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  display: block;
  text-align: center;
  font-weight: normal;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: black;
}

figure {
  display: block;
  width: 200px;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
}

section {
  display: block;
  width: 100%;
}

section > div {
  display: block;
  width: 800px;
  margin: auto;
}

section.navbar-container {
  position: fixed;
  z-index: 50;
  display: block;
  background: black;
  width: 100%;
  opacity: 0.75;
}

div.navbar {
  color: white;
}

div.navbar ul {
  float: right;
}

div.navbar li {
  float: left;
  cursor: pointer;
  padding: 15px;
  margin-right: 15px;
}

section.splash-container {
}

div.splash {
  width: 100%;
  height: 650px;
  min-width: 1280px;
}
/* Need the margin bottom to push everything else out of the way... */
/* Minimum width so it don't keep resizing on us */

div.splash figure {
  width: 100%;
  height: 100%;
}

div.splash h1 {
  display: block;
  font-size: 32px;
  font-weight: 300;
  float: left;
  display: block;
  text-align: left;
  font-weight: normal;
}

figure.splash-background img {
  width: 100%;
}

div.splash-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.25;
  width: 100%;
  height: 650px;

}

div.splash div.splash-blurb {
  position: absolute;
  display: block;
  left: 0;
  top: 450px;
  left: 70%;
  width: 200px;
  height: 200px;
  color: white;
}

div.splash div.splash-blurb h1 {
  display: block;
  float: left;
  margin-bottom: 5px;
}

div.splash div.splash-blurb p {
  display: block;
  float: left;
}

figure.me {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: left;
}

figure.me img {
  height: 196px;
  width: 196px;
  border-radius: 50%;
  border: 2px solid transparent;
}
/*#555*/

section.about-me-container {
  background: #1E1E1E;
  color: #EEEEEE;
}

div.about-me {
  font-size: 16px;
  padding: 175px 0px;
}

div.about-me-inner {
  padding: 30px 80px;
}

div.about-me-inner h1 {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 5px;
}

div.about-me-inner div.about-me-blurb {
  float: left;
  width: 400px;
  margin-left: 25px;
}

section.skills-container {
  background: #F5F5F5;
  padding-bottom: 10px;
}

div.skills h1 {
  display: block;
  text-align: center;
  margin-bottom: 30px;
}

div.skills {
  padding: 140px 0px 135px 0px;
}

div.skills ul.skill-items {
  margin: auto;
  width: 800px;
}

ul.skill-items li.skill-item {
  float: left;
  display: block;
  width: 120px;
  height: 140px;
  padding: 20px;
}

li.skill-item figure {
  width: 100%;
  height: 120px;
  margin-bottom: 5px;
}

li.skill-item label {
  width: 100%;
  height: 15px;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

section.projects-container {
  color: white;
  padding: 40px 0px;
}

div.projects h1 {
  margin-bottom: 25px;
}

div.projects ul.project-items li {
  display: block;
  border: 1px solid #ccc;
  padding: 25px;
  margin-bottom: 20px;
}

ul.project-items figure.project-image {
  float: left;
  height: 125px;
  width: 198px;
  border: 1px solid #ccc;
  padding: 5px;
}

ul.project-items div.project-blurb {
  display: block;
  float: left;
  width: 500px;
  margin-left: 25px;
}

ul.project-items div.project-blurb h2 {
  display: block;
  margin: 10px 0px;
  font-size: 24px;
}

section.contact-container {
  background: #FBFBFB;
  padding: 40px 0px;
}
