h1, h2, h3, h4, html, body, p, a, ul, li, figure, div {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

h1 {
  font-size: 24px;
  font-weight: 300;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

figure {
  display: block;
  width: 200px;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
}

section {
  display: block;
  width: 100%;
}

section > div {
  display: block;
  width: 800px;
  margin: auto;
}

section.navbar-container {
  position: fixed;
  z-index: 50;
  display: block;
  background: black;
  width: 100%;
  opacity: 0.75;
}

div.navbar {
  color: white;
}

div.navbar ul {
  float: right;
}

div.navbar li {
  float: left;
  cursor: pointer;
  padding: 15px;
  margin-right: 15px;
  font-weight: 100;
}

section.splash-container {
}

div.splash {
  width: 100%;
  height: 500px;
}
/* Need the margin bottom to push everything else out of the way... */

div.splash figure {
  width: 100%;
  height: 100%;
}

div.splash h1 {
  position: absolute;
  top: 250px;
  left: 250px;
  z-index: 5;
}

section.about-me-container {
  background: black;
  color: #EEEEEE;
}

div.about-me {
  font-size: 16px;
}

div.about-me-inner {
  padding: 30px 200px;
}

div.about-me-inner p:first-child {
  margin-bottom: 20px;
}

section.skills-container {
  background: #F5F5F5;
  padding-top: 30px;
  padding-bottom: 10px;
}

div.skills h1 {
  display: block;
  text-align: center;
}

div.skills {
}

div.skills ul.skill-items {
  margin: auto;
  width: 800px;
}

ul.skill-items li.skill-item {
  float: left;
  display: block;
  width: 120px;
  height: 135px;
  padding: 20px;
}

li.skill-item figure {
  width: 100%;
  height: 120px;
}

li.skill-item label {
  width: 100%;
  height: 15px;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
}

div.projects h1 {
  display: block;
  text-align: center;
  margin-top: 30px;
}

div.projects ul.project-items li {
  display: block;
  border: 1px solid #ccc;
}
