h1, h2, h3, h4, html, body, p, a, ul, li, figure, div {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

h1 {
  font-size: 32px;
  font-weight: 300;
  display: block;
  text-align: center;
  font-weight: normal;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

section.navbar-container.opaque {
  opacity: 1;

}

.opaque {
  opacity: 1;
  transition: 0.25s;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  background: black;
}

figure {
  display: block;
  width: 200px;
  height: 200px;
}

img {
  width: 100%;
  height: 100%;
}

section {
  display: block;
  width: 100%;
}

section > div {
  display: block;
  width: 800px;
  margin: auto;
}

section.navbar-container {
  position: fixed;
  z-index: 50;
  display: block;
  background: black;
  width: 100%;
  opacity: 0.75;
  transition: opacity 0.65s;
}

div.navbar {
  color: white;
}

div.navbar ul {
  float: left;
}

div.navbar li {
  float: left;
}

div.navbar a {
  display: block;
  cursor: pointer;
  padding: 15px 54px;
  font-size: 17px;
  width: 100%;
  height: 100%;
}

div.navbar li:hover {
  background: white;
  color: black;
  transition: background 0.25s, color 0.25s;
}

section.splash-container {
}

div.splash {
  width: 100%;
  height: 650px;
  min-width: 1280px;
}
/* Prevents resizing with small window */

div.splash figure {
  width: 100%;
  height: 100%;
}

figure.splash-background img {
  width: 100%;
}

div.splash-cover {
  position: absolute;
  top: 0px;
  left: 0px;
  background: black;
  opacity: 0.25;
  width: 100%;
  height: 650px;

}

div.splash div.splash-blurb {
  position: absolute;
  display: block;
  left: 0;
  top: 450px;
  left: 70%;
  width: 200px;
  height: 200px;
  color: white;
}

div.splash div.splash-blurb h1 {
  display: block;
  font-size: 38px;
  font-weight: 300;
  float: left;
  display: block;
  text-align: left;
  font-weight: normal;
  margin-bottom: 5px;
}

div.splash div.splash-blurb p {
  display: block;
  font-size: 18px;
  float: left;
}

section.about-me-container {
  background: #101010;
  color: #EEEEEE;
}

div.about-me {
  font-size: 16px;
  padding: 175px 0px;
}

div.about-me-inner {
  padding: 30px 70px;
}

div.about-me-inner h1 {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 5px;
}

div.about-me-inner div.about-me-blurb {
  float: right;
  width: 400px;
  margin-left: 25px;
}

div.about-me-inner div.about-me-blurb p {
  margin-top: 12px;
}

div.about-me-inner figure.me {
  height: 210px;
  width: 210px;
  border-radius: 50%;
  float: left;
  margin-top: 10px;
}

div.about-me-inner figure.me img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

section.skills-container {
  background: #F5F5F5;
  padding-bottom: 10px;
}

div.skills h1 {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  font-size: 40px;
}

div.skills {
  padding: 140px 100px;
}

div.skills ul.skill-items {
  margin: auto;
  width: 700px;
  padding: 0px 50px;
}

ul.skill-items li.skill-item {
  float: left;
  display: block;
  width: 100px;
  height: 120px;
  padding: 20px;
}

li.skill-item figure {
  width: 100%;
  height: 100px;
  margin-bottom: 5px;
}

li.skill-item figure.skill-image.aws {
  height: 80px;
  padding: 10px 0px;
}

li.skill-item label {
  width: 100%;
  height: 15px;
  display: block;
  text-align: center;
  font-weight: 300;
  font-size: 16px;
}

section.projects-container {
  color: white;
  padding: 50px 0px;
  background: #1A1A1A;
}

div.projects h1 {
  margin-bottom: 25px;
  font-size: 40px;
}

div.projects ul.project-items li {
  display: block;
  border: 1px solid #ccc;
  padding: 25px;
  margin-bottom: 20px;
}

ul.project-items figure.project-image {
  position: relative;
  float: left;
  height: 150px;
  width: 223px;
  border: 1px solid #ccc;
  padding: 7px;
}

figure.project-image > div {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.35s;
}

figure.project-image div.project-image-overlay {
  background: white;
}

figure.project-image div.project-links-container {
  background: transparent;
}

div.project-links-container div.project-links {
  position: relative;
  top: 33px;
  width: 100px;
  margin: auto;
}

div.project-links-container div.project-links.single {
  top: 60px;
}

div.project-links a {
  color: white;
  display: block;
  text-align: center;
  width: 70px;
  height: 25px;
  border: 1px solid white;
  background: #ddd;
  transition: background 0.25s;
  padding: 10px 15px 5px 15px;
  margin-bottom: 10px;
}

figure.project-image:hover div.project-image-overlay {
  opacity: 0.4;
}

figure.project-image:hover div.project-links-container {
  opacity: 1;
}

div.project-links a:hover {
  background: #aaa;
}

ul.project-items div.project-blurb {
  display: block;
  float: left;
  width: 480px;
  margin-left: 25px;
}

ul.project-items div.project-blurb h2 {
  display: block;
  margin: 10px 0px;
  font-size: 24px;
}

section.contact-container {
  background: #FBFBFB;
  padding: 70px 0px;
}

div.contact h1 {
  font-size: 40px;
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

div.contact ul.contact-items {
  width: 300px;
  display: block;
  margin: auto;
}

ul.contact-items li {
  display: block;
  float: left;
  font-size: 65px;
  margin-top: 30px;
  margin: 0px 20px;
  transition: color 0.15s;
}

div.contact div.resume-download {
  width: 100%;
}

div.contact h2 {
  font-size: 24px;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
}

div.contact a.resume {
  display: block;
  width: 65px;
  font-size: 65px;
  margin: auto;
  text-align: center;
  transition: color 0.15s;
}

ul.contact-items li:hover, div.contact a.resume:hover {
  color: #7B7B7B;
}
