/*RESET*/

html, head, body, figure, ul, div, li {
  border: 0;
  margin: 0;
  padding: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent;
}

ul {
  list-style: none;
}

body {
  font: sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

figure.snake-game {
  position: relative;
  border: 5px solid black;
  height: 440px;
  width: 440px;
  margin: auto;
  background: blue;
}

.snake-game div {
  width: 20px;
  height: 20px;
  float: left;
  background: white;
}

.snake-game div.snake {      /*is a snake*/
  background: red;
}

.snake-game div.apple {
  background: purple;
}

.snake-game .score {
  position: absolute;
  margin: auto;
  font-size: 25px;
  color: blue;
}
